@import '../scss/variables.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
  color: $text-color;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
}
